:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


html{
	margin: 0;
	padding: 0;
	height: 100%;
}


/*=============================*/
/*NOTE: Here is the trick to fit 
the content to full screen*/
body {
	margin: 0;
/*	when we set body height to 100% it overflows the html
if a border is set*/
	height: 98%;  /* <-- VERY IMOPRTANT HACK!!!! */
}
/*=============================*/

h1 {
	text-align: center;
	
}

.container {
	height: 100%;
	display: grid;
	padding: .3rem;
	/*	We can give name to lines and use them 
	as value for properties.*/
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	/*	NOTE: after you finish designing get
	rid of the border. After remove the border
	the design will fit to the screen.*/
	border: 2px solid red;	
}

.container > .item {
	border: 1px solid blue;
	border-radius: .3rem;
	margin: .3rem;
	text-align: center;
	
}

.item-1 {
	background: var(--indigo);
	grid-column-start: 0;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: end;
}

.item-2 {
	background: var(--blue);
	grid-column: 2;
	grid-row: 3 / span end;
}

.item-3 {
	background: var(--purple);
	grid-column-start: 2;
	grid-column-end: 4;
}

.item-4 {
	background: var(--pink);
}

.item-5 {
	background: var(--orange);
	grid-column: 3 / 4;
	grid-row: 2 / span end;
}

.item-6 {
	background: var(--red);
}

.item-7 {
	background: var(--teal);
}	

.item-8 {
	background: var(--info);
}

.item-9 {
	background: var(--gray);
}

.item-10 {
	background: var(--danger);
}

.item-11 {
	background: var(--dark);
}

.item-12 {
	background: var(--cyan);

}