/*=================================*/
/*How to use CSS Grid like a PRO*/

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;
}

.cell {
	padding: 1rem;
	background: yellow;
}

.small-4 {
	grid-column: span 4;
}